@import 'css/mixins/responsive';

.modal_content {
  width: 55%;
  height: auto;
  max-height: 80vh;
  z-index: 2;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  backface-visibility: hidden;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  @include desktop {
    width: 80%;
    max-height: 90vh;
  }

  @include tablet {
    width: 90%;
    max-height: 90vh;
  }

  @include mobile {
    width: 100%;
    min-height: 100vh;
    border-radius: 0;
  }

  .header {
    height: 40px;
    display: flex;
    align-items: center;
    padding: 2em 1.5em;
    border-bottom: 1px solid #cccccc50;

    .title {
      flex: 1;
      font-size: 1.1em;
      font-weight: bold;
    }

    .close {
      font-size: 1.3em;
      outline: none;
    }
  }

  .content {
    flex: 1;
    overflow-y: auto;
  }
}
