@import 'css/mixins/responsive';

.container {
  width: 70%;
  margin: auto;

  @include desktop {
    width: 85%;
  }

  @include tablet {
    width: 90%;
  }

  @include mobile {
    width: 95%;
  }
}

.container_bg {
  background: #edf2f6;
}

.user_profile {
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  background: #edf2f6;
  margin: 30px auto 30px auto;

  .cover {
    height: 300px;
    overflow: hidden;
    border-radius: 5px;

    background-image: url('https://www.sleekcover.com/covers/water-drops-on-plant-facebook-cover.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;

    &:hover .change_cover {
      opacity: 1;
    }

    .change_cover {
      opacity: 0;
      position: absolute;
      right: 0;
      top: 0;
      margin: 15px;
      background: #fff;
      transition: 0.2s ease-in;
      border-radius: 5px;

      button {
        color: #000;
        font-size: 0.8em;
        border-radius: inherit;
      }
    }

    &::after {
      content: '';
      width: 100%;
      height: 50%;
      background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0) 0%,
        rgba(0, 0, 0, 1) 100%
      );
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }

  .profile {
    display: flex;
    justify-content: flex-start;
    margin-top: -75px;
    position: relative;
    padding: 0 2em 0 2em;

    @include mobile {
      flex-direction: column;
      align-items: center;
      text-align: center;
      margin-top: calc(-40vw / 2);
    }

    .avatar {
      width: 150px;
      height: 150px;
      border-radius: 50%;
      border: 5px solid #fff;
      box-shadow: 0 2px 10px 0px rgb(0 0 0 / 0.15);
      overflow: hidden;
      position: relative;

      &:hover {
        .change_avatar {
          opacity: 1;
        }
      }

      @include mobile {
        width: 40vw;
        height: 40vw;
      }

      img {
        width: 100%;
        height: auto;
      }

      .change_avatar {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(#000, 0.3);
        opacity: 0;
        transition: 0.2s ease-in-out;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        &_image {
          color: #fff;
          font-size: 2.5em;
        }
      }
    }

    .user_info {
      margin: 1em 0;
      color: #212121;
      display: flex;
      flex: 1;
      @include mobile {
        flex-direction: column;
      }

      .left_side,
      .right_side {
        flex: 1;
        flex-direction: column;
      }

      .left_side {
        padding: 1.5em 0 0 1.5em;
        flex: 2;

        @include mobile {
          padding: 0;
          flex: 1;
          display: flex;
          flex-direction: column;
        }
      }

      .right_side {
        padding: 1.5em 0;

        @include mobile {
          padding: 0;
          flex: 1;
        }

        .user_actions {
          justify-content: flex-end;
          padding-top: 3px;

          @include mobile {
            justify-content: center;
          }
        }
      }

      .fullname {
        font-size: 1.2em;
        font-weight: bold;
        color: #fff;
        text-shadow: 0 1px 2px #00000050;
        margin-bottom: 0.5em;

        @include mobile {
          color: #2b2b2b;
          text-shadow: none;
          font-size: 2em;
        }
      }

      .rating {
        font-size: 1em;
        display: flex;
        justify-content: flex-end;
        @include mobile {
          justify-content: center;
          margin-bottom: 10px;
        }

        .rating_text {
          font-weight: bold;
          padding-left: 10px;
          padding-top: 2px;
          color: #fff;
          text-shadow: 0 1px 2px #00000050;

          @include mobile {
            color: #2b2b2b;
            text-shadow: none;
          }
        }
      }
    }

    .followers {
      color: #52575d;
      font-size: 0.9em;
    }

    .user_actions {
      margin-top: 30px;

      display: flex;
      flex: 1;
      align-items: center;
      justify-content: space-between;

      @include mobile {
        margin-top: 0;
      }

      .follow_actions {
        display: flex;
        align-items: center;

        @include mobile {
          flex-direction: column-reverse;
        }

        & > * {
          margin-right: 15px;

          @include mobile {
            margin-bottom: 20px;
            margin-right: 0;
          }
        }
      }
    }
  }
}

.content {
  display: flex;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

  @include mobile {
    flex-direction: column;
  }

  .section {
    background: #fff;
    margin: 15px;
    border-radius: 10px;

    .section_title {
      display: flex;
      padding: 1em;
      align-items: center;
      font-weight: bold;

      p {
        flex: 1;
      }
    }

    .sections_content {
      padding: 0 15px 15px 15px;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-columns: repeat(auto-fit, minmax(1fr, 1fr));
      gap: 10px 10px;

      @include tablet {
        grid-template-columns: 1fr 1fr;
      }
    }
  }

  .profile_contents {
    flex: 1;
  }

  .activity {
    flex: 1.4;
    margin: 15px 20px 0;

    @include bigDesktop {
      flex: 2;
    }

    @include desktop {
      flex: 2;
    }

    @include tablet {
      flex: 2;
    }

    &_posting {
      border-radius: 10px;
      background: #fff;
      padding: 1em;

      .actions_container {
        margin-top: 1em;
        display: flex;
        justify-content: flex-end;
        .button-container {
          .ant-btn-primary {
            background-color: palevioletred;
          }
        }
      }
    }

    &_content {
      .post {
        background: #ffffff;
        border-radius: 10px;
        margin: 20px 0;

        &_header {
          padding: 1em 1.5em;
          display: flex;

          .avatar {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            overflow: hidden;
            margin-right: 1em;

            img {
              width: 100%;
              height: auto;
            }
          }

          .user_info {
            display: flex;
            flex-direction: column;
            justify-content: center;
            .user_name {
              font-weight: bold;
              font-size: 0.9em;
            }

            .date {
              font-size: 0.7em;
            }
          }
        }

        &_content {
          .description {
            padding: 1em;
            font-size: 0.9em;
          }

          .image {
            background: #f5f5f5;
            height: 350px;
            display: flex;
            justify-content: center;

            img {
              height: 100%;
              width: auto;
            }
          }
        }

        &_actions {
          display: flex;
          border-top: 1px solid #e9e8e880;
          cursor: pointer;

          & > * {
            display: flex;
            flex: 1;
            justify-content: center;
            align-items: center;
            height: 60px;
            border-right: 1px solid #e9e8e880;

            & > [class^='anticon'] {
              color: #555555;
            }

            span {
              margin-left: 15px;
            }
          }
        }
      }
    }
  }

  .photos {
    .photo {
      width: 140px;
      height: 140px;
      overflow: hidden;
      position: relative;
      border-radius: 5px;

      @include mobile {
        width: 100%;
        height: 150px;
      }

      img {
        width: 100%;
        height: auto;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }

  .friends_list {
    .friend {
      .avatar {
        width: 140px;
        height: 140px;
        overflow: hidden;
        position: relative;
        border-radius: 5px;

        @include mobile {
          width: 100%;
          height: 150px;
        }

        img {
          width: 100%;
          height: auto;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
        }
      }

      .friend_name {
        font-size: 0.9em;
        text-align: center;
        padding: 0.5em 0.2em;
      }
    }
  }
}
