$extra-small-width: 480px;
$mobile-width: 767px;
$tablet-width: 768px;
$desktop-width: 1074px;
$big-desktop-width: 1440px;

@mixin extraSmall {
  @media (min-width: 20px) and (max-width: #{$extra-small-width - 1px}) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: #{$mobile-width}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) and (max-width: #{$big-desktop-width - 1px}) {
    @content;
  }
}

@mixin bigDesktop {
  @media (min-width: #{$big-desktop-width}) {
    @content;
  }
}
