@import 'css/mixins/responsive';

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  justify-self: stretch;
  // background: #000;

  .icon {
    color: #cccccc;
    font-size: 1.8em;
    margin-right: 10px;
  }

  .text {
    color: #2b2b2b;
  }
}

.file_list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-columns: repeat(auto-fit, minmax(1fr, 1fr));
  gap: 5px 5px;
  margin: 10px;

  @include tablet {
    grid-template-columns: 1fr 1fr;
  }

  @include mobile {
    grid-template-columns: 1fr;
  }

  .file_item {
    display: flex;
    border-radius: 10px;
    background: #f1f1f1;
    padding: 1em 1em;
    align-items: center;

    .icon {
      font-size: 1.1em;
      color: #727272;
      margin-right: 5px;
    }

    .file_name {
      flex: 1;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 100%;
      padding-right: 5px;
    }

    .remove {
      padding: 5px;
      cursor: pointer;
      color: #727272;
      transition: 0.2s ease-in;
      font-size: 1.1em;

      &:hover {
        color: #ff6a6a;
      }
    }
  }
}
