@import 'css/mixins/responsive';

.container_bg {
  background: #edf2f6;
}

.section {
  background: #fff;
  margin: 15px;
  border-radius: 10px;

  .section_title {
    display: flex;
    padding: 1em;
    align-items: center;
    font-weight: bold;

    p {
      flex: 1;
    }
  }

  .sections_content {
    padding: 0 15px 15px 15px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-columns: repeat(auto-fit, minmax(1fr, 1fr));
    gap: 10px 10px;

    @include mobile {
      grid-template-columns: 1fr 1fr;
      height: 180px;
      overflow-y: auto;
    }

    @include tablet {
      grid-template-columns: 1fr 1fr;
    }
  }
}

.photos {
  .photo {
    width: 140px;
    height: 140px;
    overflow: hidden;
    position: relative;
    border-radius: 5px;
    cursor: pointer;
    background: #cccccc25;

    @include mobile {
      width: 100%;
      height: 150px;
    }

    img {
      width: 100%;
      height: auto;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}
